<%= form_with(model: [ @post, @post.comments.build ], local: true) do |form| %>
 <div class="row" style="margin-top:10px">
    <ul class="col-sm-12"> 
       <li class="col-sm-5 text-left"><%= form.text_area :body %></li>
       <li class="col-sm-3 text-right"><%= form.submit %></li>
     <ul>
  </div>
<% end %>