<div class="container" style="margin:5% 0 20% 0">
  <div class="row">
    <div class="col-sm-6 text-left" style="margin-left:40%"> 
<h1>Create New Post</h1>

<%= render 'form', post: @post %>

<%= link_to 'Back', posts_path %>
</div>
  </div>
</div>
