// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .type {
//     width: 40%;
//     margin: 8px 20px;
//     border: 1px solid #ccc;
//     box-sizing: border-box;
//     position: auto;
// }

// .lebel {
//     display: block;
//     width: 30%;
//     margin: auto;
//     position: auto;
// }

.user {
  max-height:50px;
  max-width:50px;
  border-radius: 10%;
}

footer {
  position: fixed;
  bottom: 0;
}

.list{
 border-style: ridge;
 padding: 1%;
}
